<p id="notice"><%= notice %></p>

<h1>Binda Languages</h1>

<table>
  <thead>
    <tr>
      <th>Lang</th>
      <th>Selected</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @binda_languages.each do |binda_language| %>
      <tr>
        <td><%= binda_language.lang %></td>
        <td><%= binda_language.selected %></td>
        <td><%= link_to 'Show', binda.language_path( binda_language ) %></td>
        <td><%= link_to 'Edit', binda.edit_language_path(binda_language) %></td>
        <td><%= link_to 'Destroy', binda.language_path( binda_language ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Binda Language', binda.new_language_path %>
