<p id="notice"><%= notice %></p>

<p>
  <strong>Lang:</strong>
  <%= @binda_language.lang %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @binda_language.selected %>
</p>

<%= link_to 'Edit', binda.edit_language_path(@binda_language) %> |
<%= link_to 'Back', binda.languages_path %>
